<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Step 1" value="step 1: Right-Click on reference tab to add reference."/>
		<add key="step 2" value="step 2: Click on Assemblies tab"/>
		<add key="step 3" value="step 3: Search for 'System.Configuration'"/>
		<add key="step 4" value="step 4: Click ok"/>
		<add key="step 5" value="step 5: In Program file of C# => string value = System.Configuration.ConfigurationManager.AppSettings['keyname']"/>
		
		<add key="connection1" value="server=172.23.81.133;database=MonoceptDb;uid=sa;pwd=pass123"/>
		<add key="connection2" value="server=172.23.91.144 ;database=AurionProDb;uid=sa;pwd=pass123"/>
	</appSettings>
</configuration>